# Override default API gateway (optional)
BASE_URI=
GATEWAY_KEY=

# Override specific MongoDB URIs (optional)
MONGO_REFDEV_URI=
MONGO_REFASY_URI=
MONGO_DB=hyperfront

# Okta token (alternativa ao ~/.config/refdata-loader/okta-token)
OKTA_TOKEN=
